<nav class="menu">
    <div class="menu-desktop">
        <ul>
            <li class="menu-item" ng-repeat="menuItem in menu.menuItems"
                ng-class="{'is-active': menuItem.active, 'logo': $index == 0}">
                <img ng-if="$index == 0" src="img/morro-de-sao-paulo-logo.png" alt="Morro de São Paulo">
                <a href="{{menuItem.url}}">{{menuItem.text}}</a>
            </li>
        </ul>
    </div>

    <div class="menu-mobile">
        <span class="logo menu-item" ng-repeat="menuItem in menu.menuItems | limitTo:1"
              ng-class="{'is-active': menuItem.active}">
            <img src="img/morro-de-sao-paulo-logo.png" alt="Morro de São Paulo">
            <a ng-click="menu.home()" href="{{menuItem.url}}">{{menuItem.text}}</a>
        </span>
        <i class="menu-mobile-toggle" ng-click="menu.onMenuToggle()"></i>
        <ul ng-show="menu.isMenuOpened">
            <li class="menu-item" ng-repeat="menuItem in menu.menuItems | limitTo:-3"
                ng-class="{'is-active': menuItem.active}"
                ng-click="menu.onMenuItemClick(menuItem)">
                <a href="{{menuItem.url}}">{{menuItem.text}}</a>
            </li>
        </ul>
    </div>

    <div class="menu-languages">
        <button ng-if="currentLanguage != 'en'" ng-click="menu.changeLanguage('en')"><img src="img/flag-uk.png" width="24" alt="English"></button>
        <button ng-if="currentLanguage != 'fr'" ng-click="menu.changeLanguage('fr')"><img src="img/flag-france.png" width="24" alt="French"></button>
        <button ng-if="currentLanguage != 'pt'" ng-click="menu.changeLanguage('pt')"><img src="img/flag-brazil.png" width="24" alt="Português"></button>
    </div>
</nav>